
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #fff;
   background-image: linear-gradient(180deg, #4f3f66 0, #3b2e5f 25%, #1f1f59 50%, #001253 75%, #00004e 100%);
   border: 1px solid orange;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: orange;
}
#footer{
   background-image: linear-gradient(180deg, #4f3f66 0, #3b2e5f 25%, #1f1f59 50%, #001253 75%, #00004e 100%);
   text-align:center;
   font-size: 18px;
   padding: 10px;
}
